.text-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    height: 50px;
    border: 1px solid;
}

.main {
    padding: 20px;
    border: 1px solid;
}
.home-element {
    border: 1px solid;
    margin-bottom: 20px;
    height: 150px;
}
.home-element:last-of-type {
    margin: 0;
}

.content {
    border: 1px solid;
    height: 500px;
}

.footer {
    height: 50px;
    border: 1px solid;
}

